{% spaceless %}
	<div>
		<h2><a href="{% url 'catalogue' %}">Каталог</a>&nbsp;&gt;&nbsp;<a href="{% url 'catalogue-page-first-symbol' artist.get_catalogue_symbol %}">{{ artist.get_catalogue_symbol }}</a>{{ artist.title|slice:"1:" }}&nbsp;<a href="{% url 'artist-view' artist.id %}" id="load-artist">&#x21bb;</a></h2>
	</div>
	{% if albums %}
		<ul>
			{% for album in albums %}
				<li>
					<a href="{% url 'album-view' album.id %}">{{ album.title }} ({{ album.year }})</a>
					<div class="small-text mt02">
						Длительность: {% with album_duration=album.get_duration %}<span class="b">{% if album_duration.0 %}{{ album_duration.0 }}{% if album_duration.0 and album_duration.1 %} + ???{% endif %}{% else %}???</span>{% endif %}{% endwith %}&nbsp;<span>Жанры: {% for genre in album.genre.all %}<a class="album-genre" href="{% url 'catalogue-page-genre' genre.id %}">{{ genre.title }}</a>{% empty %}&mdash;{% endfor %}</span>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<h4>Альбомы ещё не добавлялись.</h4>
	{% endif %}
	<h3><a href="{% url 'artist-add-album' artist.id %}" target="_blank">Добавить</a> Альбомы</h3>
	{% if tracks %}
		{% include "blocks/_tracklist_block.html" %}
	{% else %}
		<h4>Треки ещё не добавлялись.</h4>
	{% endif %}
	<h3><a href="{% url 'upload' 'artist' artist.id %}" target="_blank">Добавить</a> Треки</h3>
{% endspaceless %}