{% spaceless %}
	{% if symbol %}
		{% if not exclude_header %}<h2><a href="{% url 'catalogue' %}">Каталог</a>&nbsp;&gt;&nbsp;<span>{{ symbol }}</span>&nbsp;<a href="{% url 'catalogue-page-first-symbol' symbol %}">&#x21bb;</a></h2>{% endif %}
    {% endif %}
		<div>
			{% if artists %}
				<ul>
					{% for artist in artists %}
						<li>
                            <a href="{% url 'artist-view' artist.id %}">{{ artist }}</a>
                            &nbsp;<button class="small-text to-current-playlist-by-title" data-source="artist_{{ artist.id }}">Всё в плейлист &rarr;</button>
                        </li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
        {% if not exclude_footer %}
		    <div>
			    Не нашли нужного? Тогда <a href="{% url 'artist-add' %}" target="_blank">добавьте Исполнителя</a>.
		    </div>
        {% endif %}
	{% if albums is not None %}
		{% if not exclude_header %}<h2><a href="{% url 'catalogue' %}">Каталог</a>{% if genre %}&nbsp;&gt;&nbsp;<span>Альбомы в жанре: {{ genre.title }}</span>{% endif %}</h2>{% endif %}
		<div>
			{% if albums %}
				<ul>
					{% for album in albums %}
				        <li>
							{% if include_album_artists %}
								{% for artist in album.artist.all %}<a href="{% url 'artist-view' artist.id %}">{{ artist }}{% if not forloop.last%}, {% endif %}</a>{% endfor %}&nbsp;&mdash;
					        {% endif %}
							<a href="{% url 'album-view' album.id %}">{{ album.title }} ({{ album.year }})</a>
                            &nbsp;<button class="small-text to-current-playlist-by-title" data-source="album_{{ album.id }}">Всё в плейлист &rarr;</button>
					        <div class="small-text mt02">
						        Длительность: {% with album_duration=album.get_duration %}<span class="b">{% if album_duration.0 %}{{ album_duration.0 }}{% if album_duration.0 and album_duration.1 %} + ???{% endif %}{% else %}???</span>{% endif %}{% endwith %}&nbsp;<span>Жанры: {% for genre in album.genre.all %}<a class="album-genre" href="{% url 'catalogue-page-genre' genre.id %}">{{ genre.title }}</a>{% empty %}&mdash;{% endfor %}</span>
					        </div>
				        </li>
			        {% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
{% endspaceless %}
